th{
    text-align: left;
    vertical-align: top;
    font: 1.3rem / 1.4 sans-serif;
    font-family: 'Roboto',sans-serif;
    color: #3498db;
    font-weight: bold;
}

html{
    font: 1.3rem / 1.4 sans-serif;
    font-family: 'Roboto',sans-serif;
    background-color: #292E39;
}

button{
    
        -moz-appearance: none;
        -webkit-appearance: none;
        align-items: center;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        border-radius: .35em;
        color: #363636;
        display: inline-flex;
        font-size: 14px;
        height: 32px;
        justify-content: flex-start;
        line-height: 24px;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        vertical-align: top;
        cursor: pointer;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        white-space: nowrap;
        text-decoration: none!important;
        color: #3498db;
        border-color: #3498db;
        background: none;
        padding-bottom: 10px;
}

.score{
    width: 5vw;
    
}

.tactic{
    width: 10vw !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
